{% extends 'base.html' %}
{% load staticfiles %}
    {% block Post %}

    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->

    <header class="intro-header" style="background-image: url(/{{ post.image.url }});">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="post-heading">
                        <h1>{{ post.title }}</h1>
                        <h2 class="subheading">{{ post.subtitle }}</h2>
                        <span class="meta">Posted by <a href="#">{{ post.author }}</a> on {{post.published_date }}</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Post Content -->
    <article>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    {{ post.text }}
                </div>
            </div>
        </div>
    </article>

    <hr>

    <form class="btn-group btn-group-lg" role="group" aria-label="Like Box" style="margin-left: 40%;">
      <button type="button" class="btn btn-default like-btn" data-href="{{ request.get_full_path }}like">
          <span class="glyphicon glyphicon-thumbs-up" aria-hidden="true"></span>Likes={{ post.likes }}
      </button>
      
      <button type="button" class="btn btn-default dislike-btn" data-href="{{ request.get_full_path }}dislike">
          <span class="glyphicon glyphicon-thumbs-down" aria-hidden="true"></span>Dislikes={{ post.dislikes }}
      </button>
    </form>
    {% if user.is_authenticated %}
    <form class="comment" method="POST">{% csrf_token %}
        {{ form.as_p }}
        <button id="comment" type="submit" class="btn btn-default">Comment</button>
        <div id="com_message text-center" class='alert'></div>
    </form>
    {% endif %}
    <hr>
    {% endblock Post %}


    {% block custom %}
    <!-- Like button on Posts -->
    <script type="text/javascript">
        //for like button
        $(".like-btn").click(function(e){
            e.preventDefault();
            data_url = $(this).attr("data-href");
            check = $(".like-btn").hasClass('disable');
            $.ajax({
                type:'GET',
                url:data_url,
                data : {'active' : check},
                success:function(data){
                    html = "<span class='glyphicon glyphicon-thumbs-up' aria-hidden='true'></span>Likes="+data;
                    $(".like-btn").html(html);
                    $(".like-btn").toggleClass('disable');
                }
            });
        });
        //for dislike button
        $(".dislike-btn").click(function(e){
            e.preventDefault();
            data_url = $(this).attr("data-href");
            check = $(".dislike-btn").hasClass('disable');
            $.ajax({
                type:'GET',
                url:data_url,
                data : {'active' : check},
                success:function(data){
                    html = "<span class='glyphicon glyphicon-thumbs-down' aria-hidden='true'></span>Dislikes="+data;
                    $(".dislike-btn").html(html);
                    $(".dislike-btn").toggleClass('disable');
                }
            });
        });
    </script>

    <script type="text/javascript">
        $("label[for='id_content']").html('Comment :');
        $("#id_on_post").attr({type: 'hidden'});
        $("#id_on_post option[value='{{ post.id }}']").attr("selected", "selected");
        $("#id_on_post").addClass('hidden');
        $("label[for='id_on_post']").addClass('hidden');
        $('textarea').autoResize();
    </script>
    
    <style type="text/css">
        .comment{
            margin-left: 30vw;
        }
        label{
            padding: 5px;
            display: block;
        }
        #id_content{
            resize: none;
            overflow: auto;
            width: 600px;
            height: 120px;
            border: 3px solid #cccccc;
            padding: 5px;
            font-family: Tahoma, sans-serif;
        }
    </style>
    {% endblock custom %}